// secrets.h.template
// Copy this file to "secrets.h" and fill in your actual credentials.
// DO NOT commit your actual secrets.h to version control.

#ifndef SECRETS_H
#define SECRETS_H

#define WIFI_SSID "YOUR_WIFI_SSID_HERE"							// string
#define WIFI_PASSWORD "YOUR_WIFI_PASSWORD_HERE"					// string
#define AGENT_IP "YOUR_MICRO_ROS_AGENT_IP_HERE"					// string
#define AGENT_PORT YOUR_MICRO_ROS_AGENT_PORT_HERE				// int
#define MICRO_ROS_CLIENT_KEY YOUR_MICRO_ROS_CLIENT_KEY_HERE		// int

#endif // SECRETS_H
